[oidc]
trusted_OP_list = {{ trusted_OP_list }}
trusted_sub = {{ trusted_sub }}

[commons]
log_to = /tmp/laniakea-utils-api.log
log_level = DEBUG

[galaxy]
galaxy_restart_command = '{{ sudo_path }} {{ galaxy_restart_command }}'
gunicorn_bind_address = '{{ gunicorn_bind_address }}'
nginx_restart_command = '{{ sudo_path }} {{ nginx_restart_command }}'

[rstudio]
