# Copy this file to /etc/systemd/system/luksctl-api.service
# and adjust it following your configuration path

[Unit]
Description=Gunicorn instance to serve laniakea-utils api server
After=network.target

[Service]
User={{ systemd_user }}
Group={{ systemd_group }}
WorkingDirectory={{ venv }}/lib/python3.9/site-packages/laniakea_utils/api
Environment="PATH={{ venv }}/bin"
ExecStart={{ venv }}/bin/gunicorn --workers 2 --bind 0.0.0.0:5001 --timeout 300 app:app

[Install]
WantedBy=multi-user.target
